.flex{
  display: flex;
}
.p-20{
  padding: 20px;
}
.mb-0{
  margin: 0;
}
.space-between{
  justify-content: space-between;
}
.accordion{
  padding: 10px;
  border: 1px solid;
  background-color: antiquewhite;
  margin: 20px;

}
.btn, .btn-invert{
  cursor: pointer;
}
.btn-invert{
 transform:  rotate(180deg)
}
.accordion-icon{
  cursor: pointer;
}
.accordion-icon {
  transition: transform 0.3s;
}

.accordion-icon.open {
  transform: rotate(90deg);
}